@import "~@/assets/style/helper.scss";
.chart {
  display: flex;
  flex-direction: column;
  height: 100%;
  .notes-none {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    color: gray;
    font-size: 14px;
    svg {
      width: 100px;
      height: 100px;
      color: gray;
    }
    span {
      color: red;
    }
  }
}
#pie {
  padding: 5px 16px;
  width: 100vw;
  height: 35vh;
  font-family: $font-hei;
}