@import "~@/assets/style/helper.scss";
.record-wrapper {
  position: fixed;
  transform: translate(0, 100%);
  transition: all 0.4s linear;
  background: #fff;
  height: 100vh;
  &.visible {
    transform: translate(0, 0);
  }
}
.numberPad {
  position: fixed;
  bottom: 0;
}